[GLOBAL]
csv_file = biobank_data.csv
default_top_k = 25
index_file_basename = bio_index
manifest_file = manifest.json

# Neural Model parameters
umls_api_key = your_actual_api_key_here
enable_umls_expansion = False
bi_encoder_name = NeuML/pubmedbert-base-embeddings
cross_encoder_name = cross-encoder/ms-marco-MiniLM-L-6-v2
clinical_nlp_model = en_core_sci_sm

# Recall/Performance constraints
stage_1_recall_limit = 30

# The ONLY columns the AI and BM25 will read (The Semantic Space)
vector_columns = name, description
